.container {
  width: 1200px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.search-form {
  width: 100%;
  background-color: rgba(217, 135, 226, 0.997);
  padding: 20px 0;
}
.form-input {
  height: 30px;
  font-size: 16px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  margin-bottom: 20px;
}

.photo-card {
  margin-left: 30px;
  margin-top: 30px;
}

.info {
  display: flex;

  justify-content: space-around;
}

.info-item {
  display: flex;
  align-items: center;
  flex-direction: column;

  font-size: 16px;
}

.btn-submit,
.load-more {
  font-size: 14px;
  padding: 10px 20px;
  background-color: #722ecc;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 250ms linear;
}
.load-more {
  display: block;
  margin: 30 auto;
  width: 300px;
}

.btn-submit:hover,
.btn-submit:focus,
.load-more:hover,
.load-more:focus {
  background-color: #4227ae;
  box-shadow: 10px 10px 10px #0000001f, 0 10px 10px #0000000f,
    10px 10px 10px #00000029, 0 10px 10px blue;
}

.is-hidden {
  display: none;
}
.gallery__link {
  text-decoration: none;
}
.gallery__link:hover,
.gallery__link:hover {
  box-shadow: 10px 10px 10px #0000001f, 0 10px 10px #0000000f,
    10px 10px 10px #00000029, 0 10px 10px blue;
}
